@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

.chroma-key {
    background-color: transparent;
}

.test-bg {
    background-image: url("testbg.jpg");
}

.font-style {
  font-family: "Roboto", Sans-serif;
  font-weight: 700;
}

.font-large {
    font-size: 60px;
}

.font-medium {
    font-size: 48px;
}
.font-small {
    font-size: 24px;
}

.log-label {
    position: absolute;
    top: 5px;
    left: 5px;    
}

.tool-bar {
    position: absolute;
    text-align: center;
    width: 100%;  
    top: 3%;
    left: 0px;    
}

.team-panel-container {
    position: absolute;
    text-align: center;
    width: 50%;
}

.team-panel-container-home {
    top: 10%;
    left: 0px;
}

.team-panel-container-away {
    top: 10%;
    right: 0px;
}

.name-block {
    height: 80px;
    line-height: 80px;
}

.padded-table {
    display: inline-block;
}

.padded-table td {
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

.cell-left-align {
    text-align: left;
}

.team-panel-table {
    display: inline-block;
}

.team-panel-table div {
    width:120px;
}

.score-panel {
    position: inherit;
    top: 120px;
    width:100%;
    text-align: center;
}

.clock-panel-container {
    position: absolute;
    left: 0px;
    top: 60%;
    width: 100%;
    text-align: center;
}

.spacer {
    width: 150px;
}

.vertical-spacer {
    height: 50px;
}


.button-thin {
    height: 40px;
    width: 40px;
}

.button-medium {
    height: 40px;
    width: 90px;
}

.button-wide {
    height: 40px;
    width: 160px;
}

.clock-grid-width {
    width: 280px;
}

.new-game-container {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    text-align: center;
}

.new-game-menu {
    display: inline-block;
}

/* STREAM OVERLAY STUFF */

.overlay-popup {
    position: absolute;
    top:75px; 
    left: 50px;
    height: 0px; /* Animate to 50px*/
    width: 220px;
    line-height: 55px;
    background-image: linear-gradient(#ffe680, white);
    border-radius: 5px;
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #606060;
}

.overlay-main-panel {
    background-image: linear-gradient(to bottom right, #606060, #101010);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 690px;
    height: 60px;
    line-height: 60px;
}

.overlay-block {
    position: inherit;
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.overlay-period {
    left: 10px;
    width: 60px;
}

.overlay-clock {
    background-color: #757575;
    height: 50px;
    line-height: 50px;
    left: 80px;
    top: 5px;
    width: 120px;
    border-radius: 5px;
}

.overlay-home-colour {
    width: 20px;
    height: 46px;
    left: 220px;
    top: 5px;
    border:2px solid #909090;
}

.overlay-home-name {
    left: 255px;
}

.overlay-home-score {
    left: 335px;  
}

.overlay-away-colour {
    width: 20px;
    height: 46px;
    left: 460px;
    top: 5px;
    border:2px solid #909090;
}

.overlay-away-name {
    left: 495px;
}

.overlay-away-score {
    left: 575px;  
}

/* SCHEDULE WIDGET STUFF */

.schedule-font {
    font-family: "Fira Sans Condensed", Sans-serif;
}

.schedule-container {
    position: absolute;
    top: 180px;
    left: 620px;
    font-size:48px;
}

.schedule-background {
    background-color: #ffe680;
    opacity: 0.9;
    position: absolute;
    top: 150px;
    left: 600px;
    height: 700px;
    width: 1000px;  
        
}

.schedule-time-container {
    position: absolute;
    left: 10px;
    bottom: 10px;    
}

.schedule-time-block {
    font-size:48px;
    width:300px;
    height:60px;
    text-align:center;
    line-height:60px;  
}